[Unit]
Description=Orion DNS Daily Backup Timer
Requires=orion-dns-backup.service

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
