apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      timeInterval: "5s"
      
  - name: Netdata
    type: prometheus
    access: proxy
    url: http://netdata:19999/api/v1/allmetrics?format=prometheus
    isDefault: false
    editable: false
